body {
        background-color: #F6F4F2;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: .9em;
        line-height: 1.1em;
        margin: 0px;
}

.captions { 
        margin: 20px 2% 0px; 
        background-color: #FFC312;
        height: 250px;
        width:350px;  
        overflow:hidden;
        border:4px Solid #fff;
        /*  overflow:auto;*/
        z-index: 0;
}
